@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

.landing_main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Uchen", sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(25deg, rgb(0, 21, 67) 0%, rgb(0, 0, 0) 60%);
  color: white;
}
body {
  overflow-x: hidden;
}
div .a,
.b,
.c,
.d,
.e,
.f,
.g,
.h,
.i,
.j,
.k {
  position: fixed;
  color: white;
  font-size: 25px;
  font-family: "Uchen", sans-serif;
  opacity: 0.3;
}
.landing_name {
  font-size: 90px;
  position: absolute;
  top: 35vh;
  left: 10%;
  font-weight: 900;
  text-align: center;
  line-height: 110px;
  font-family: Silkscreen;
  font-family: "Rubik Maze", cursive;
  font-family: "Cinzel", serif;
}

.landing_profile {
  position: absolute;
  right: 7.5%;
  top: 14%;
  width: 38rem;
  opacity: 0.8;
  z-index: 100;
}
@media only screen and (max-width: 600px) {
  .landing_profile {
    left: 50%;
    transform: translateX(-50%);
    top: 40vh;
    width: 80vw;
  }
  .landing_name {
    font-size: 8.5vw;
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 900;
    text-align: center;
    line-height: 12vw;
    width: 100vw;
  }
}

#lightid {
  /* background: white !important; */
  /* background: rgb(237,237,237);
background: linear-gradient(125deg, rgba(237,237,237,0.7178221630449055) 22%, rgba(58,83,145,1) 99%); */
background: rgb(237,237,237);
/* background: linear-gradient(223deg, rgba(237,237,237,0.7178221630449055) 50%, rgba(58,83,145,1) 99%); */
background: linear-gradient(223deg, rgba(237,237,237,0.7178221630449055) 50%, rgba(113,139,204,1) 99%);

  color: black !important;
}
