.home_main{
    height: calc(100vh - 5rem);
    margin-top: 5rem;
}

.home_text{
    font-size: 3.5rem;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    /* margin-top: 10vh; */
    margin-left: 15vw;
    width: fit-content;
    position: absolute;
    transition: 1.5s;
    opacity: 0;
}
.home_img{
    position: absolute;
    right: 10vw;
    -webkit-filter: drop-shadow(10px 15px 5px #222);
    filter:         drop-shadow(10px 10px 5px #222); 

    
}
.home_name{
    font-weight: 600;
    color: rgb(93, 183, 128);
}
.home_desc{
    width: 35vw;
    margin-left:15vw;
    font-size: 1.4rem;
    opacity: 0;
    font-family: 'Lato', sans-serif;
    position: absolute;
    top:52vh;
    text-align: center;
}
