.contact_main{
    height: 100vh;
    background: rgb(0, 2, 49);
background: linear-gradient(125deg, rgb(0, 21, 67) 0%, rgb(0, 0, 0) 60%);
}

.contact_header{
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 6rem;
    color: white;
    font-family: "Cinzel", serif;
    padding-top: 4rem;
}

.bitmoji{
    position: absolute;
    width: 32%;
    left: -5rem;
}